.Palabras-cont{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
    margin-bottom: 12vh;
    z-index: 1;
    h2{
        width: 45%;
        font-size: 3vw;
        margin-bottom: 16px;
        font-weight: 500;
        color: #2b343c;
        margin-left: 7%;
    }
    article{
        width: 40%;
        transition: ease 0.3s;

    }
    article:hover{
        transform: translateY(-7%);
        .PhrasePersona-cont{
            border: 1px solid #007CF0;
        }
        .PhotoPersona{
            img{
                box-shadow: 0 8px 15px 5px rgb(60 151 234 / 15%);
                transition: ease 0.1s;
            }
        }
    }
}
.PalabrasPersonas{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.PhotoPersona{
    z-index: 2;
    position: relative;
    border-radius: 50%;
    width: 25%;
        img{
            width: 100%;
            border-radius: 50%;
            }
        
}

.PhrasePersona-cont{
    width: 100%;
    min-height: 85%;
    position: relative;
    bottom: 50px;
    z-index: 1;
    border: solid 1px #D0DEEB;
    border-radius: 10px;
    box-shadow: 0 8px 20px 0 rgb(60 151 234 / 15%);
    background-color: white;
    p{
        padding: 0px 10%; 
        color: #5a5a5a; 
        font-size: clamp(16px, 2vw, 1.2vw);
    }
}

.offsetText{
    margin-top: 50px; 
    font-size: clamp(16px, 2vw, 1.2vw);
}
p.offsetName{
    margin-top: 20px;
    margin-bottom: 0;
    color: #007CF0;;
    
}

.offsetProffession{
    margin: 0;
}
.PhrasePersona-cont:hover{
    border: 1px solid #007CF0;
}
.Form3-bg{
    width: 800px;
    height: 400px;
    border-top-left-radius: 600px;
    border-top-right-radius: 600px;
    border: 230px solid #C7EBFC;
    border-bottom: 0;
    transform: rotate(180deg);
    position: absolute;
    z-index: -1;
    top: 22vh;
    right: 70%;
    transition: 0.2s ease-in;
}
.Form3-bg:hover{
    transform: rotate(183deg);
}
@media(max-width:770px){
    .PalabrasPersonas{
        flex-direction: column;
        align-items: center;
    }
    .Palabras-cont{
        margin-top: 0;
        margin-bottom: 0;
        article{
            width: 90%;
        }
        h2{
            font-size: 32px;
        }
    }
    .offsetProffession{
        margin-bottom: 8px;
    }
}