.cards-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .pero-cont{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h2{
        color: #2b343c;
    }
    .emoji{
        width: 4%;
        margin-left: 10px;
    }
    
}
@media(max-width:770px){
    .cards-cont{
        h2{
            font-size: 18px;
        }
    }
}